#home.container
  .books
    - Book.all.each do |book|
      = render "books/book", book: book
  .row.welcome
    = "Welcome to our amazing Bookstore! Choose anything you wish, we`ll ship it anywhere!"